# Copy this file to .env.deploy, fill secrets, DO NOT commit .env.deploy
DEBUG=False
SECRET_KEY=p@#4d4@vh#8q4tsf2u$y(t^f1t0ur_a3mgoxq^qplfh4&%5%vn
ALLOWED_HOSTS=gallaryapp-production.up.railway.app
CSRF_TRUSTED_ORIGINS=https://gallaryapp-production.up.railway.app

# Preferred: single DATABASE_URL
DATABASE_URL=postgresql://postgres:WcGYAAidhbXyjdqZRDcOBGdkbBGBkrBH@roundhouse.proxy.rlwy.net:35670/railway

# Or (alternative)
DB_NAME=railway
DB_USER=postgres
DB_PASSWORD=WcGYAAidhbXyjdqZRDcOBGdkbBGBkrBH
DB_HOST=roundhouse.proxy.rlwy.net
DB_PORT=35670
